*{
    margin: 0; padding: 0; box-sizing: border-box;
    border-radius:5px ;
}
body{
    font-family: Verdana,Arial, Helvetica, sans-serif;
    
}
/*strat header*/

/*------------------------------------------------------------------
    NAV BAR
-------------------------------------------------------------------*/

nav
{
    width: 100%;
    position: relative;
    background-color: #4682B4;
    z-index: 10;
    height: 70px;
}
 nav .contains
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
    
}
 nav .contains p
{
    padding: 15px 15px;
    font-weight: bolder;
    font-size: 28px;
    text-transform: uppercase;
}
 nav .contains p a
{
    color: white;
    text-decoration: none;
}
 nav .contains p a i
{
    margin-right: 10px;
	color: #303036
    
}
 nav .contains p a span
{
    color: #303036
}
 nav .contains ul
{
    list-style: none;
    display: flex
}
 nav .contains ul li
{
    padding: 23px 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    height: 30px;
}
 nav .contains ul li a
{
    text-decoration:none;
    color: white
}
 nav .contains ul li a:hover
{ 
    color: #303036;
    transition: .4s
}
  /*end header*/
.img{
    background: url("../images/photo1.jpg");
    background-size: cover;
    background-position: center;
    height: 1100px;
}

.content{
    position: relative;
    float: left;
    display: inline;
    margin:150px 0 0 200px;
    font-size: 40px;
}
.container{
    float:right;
    display: inline;
    margin: 25px 100px 25px 25px;
    position: relative;
    width:400px;
    background: rgba(255, 255, 255, 0.637);
    padding: 60px 40px;
}
header{
    font-size: 23px;
    margin-bottom: 30px;
    color: #5b90c5;
}
.input-field{
    margin: 25px;
    position: relative;
    height: 50px;
    width: 100%;
    margin: 10px 0;
}
.input-field input{
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 15px;
    outline: none;
    font-size: 19px;
    transition: .4s;
}
input:focus,input:valid{
    border: 1px solid #1DA1F2;
}
.input-field label, span.show{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
.input-field label{
    left:15px;
    color: gray;
    font-size: 18px;
    transition: .4s;
    pointer-events: none;

}
span.show{
    right: 20px;
    color: #111;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    visibility: hidden;
    font-family: 'Open Sans', sans-serif;
}
input:valid ~ span.show{
    visibility: visible;
}
input:focus ~ label,
input:valid ~ label{
    transform: translateY(-33px);
    background: rgba(255, 255, 255, 0.637);
    font-size: 16px;
    color: #1DA1F2;
}
.gray{
    color:gray;
    font-size: 18px;
    font-weight: bold;

}
.birth{
    position: relative;
    height: 50px;
    width: 100px;
    font-size: 16px;
    transition: .4s;
    margin: 15px 0;
}
.birth:focus {
    border: 1px solid #1DA1F2
}
.gender{
    position: relative;
    font-size: 18px;
    transition: .4s;
    margin: 15px 5px 15px 0;
}
form .button{
    margin: 10px 0;
    height: 50px;
    width: 100%;
    position: relative;
    
    overflow: hidden;
    z-index: 111;
    
}
.button .inner{
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    background: -webkit-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    transition: all .4s;
    z-index: -1;
}
.button:hover .inner{
    left: 0;
}
.button a{
    width: 100%; height: 100%; 
    border: none; background: none; outline: none;
    color: white; font-size: 20px; cursor: pointer;
    font-size: 30; 
    margin-top: 20px;
    text-decoration: none;
}
.button a:hover{text-decoration: none;}
.terms{
    font-size: 10px;
    margin: 5px 0;
}
.login{
    margin-top: 20px;
    text-align: center;
}


a{text-decoration: none; color: #3498db;}
a:hover{text-decoration: underline;}


/*dark mode*/
.dark-mode {
    background-color: black;
    color: white;
  }

 /*---------------------------start footer---------------------------*/
.footer .span{color: #5b90c5; display: inline;}
.footer a{    color: #d3d3d3;}
.footer{
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;
}
.footer .footer-content{
    border: none;
    height: 350px;
    display: flex;
}
.footer-content h1, .footer-content h2{margin-bottom: 40px; color: white;}
        /*start about*/
.footer .about .comu .span1{
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
}
/*social*/
.footer .about .social{margin-top: 15px;}
.footer .about .social a{
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    padding-top: 3px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
}
.social a .facebook:hover{color:#4267B2;}
.social a .twitter:hover{color:#00acee;}
.social a .instagram:hover{color:#8a3ab9;}
.social a .youtube:hover{color:#c4302b;}
        /*end about*/

        /*start links*/
.footer .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size:18px;
    text-decoration: none;
    transition: all .3s;
}
.footer .links ul a:hover{
    color: #5b90c5;
    margin-left: 15px;
    transition: all .3s;
}
        /*end links*/

        /*start contact*/
/*contact us*/
.footer .text-input{
    display: block;
    width: 70%;
    height: 40px;
    background: #272727;
    color:#bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 15px 20px;
    border: none;
    font-size: 13px;
}
.footer .text-input:hover{background: #1a1a1a;}
/*send*/
.footer .btn{
    float:right;
    padding: 5px 20px;
    margin:10px 30px 0 0;
    text-align: center;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    background:#1DA1F2;
    transition: .3s;
}
.footer .btn:hover{
    transition: .3s;
    background:#167bb9 ;
}

        /*end contact*/
.footer .footer-content .footer-section{   /*to divide the form into several parts*/
    flex: 1;
    padding: 50px 25px 25px 25px;
    border: 1px solid #1da0f231;
}
.footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
}

/*---------------------------end footer---------------------------*/