*
{
	margin:0;
	padding:0;
    font-family: arial
	
	
}
body {
    overflow-x: hidden;
    background-color:#b0c4de;
    min-height: 1600px
}
/*------------------------------------------------------------------
    NAV BAR
-------------------------------------------------------------------*/

nav
{
    width: 100%;
    position: relative;
    background-color: #4682B4;
    z-index: 10;
    height: 70px;
}
 nav .contains
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
    
}
 nav .contains p
{
    padding: 15px 15px;
    font-weight: bolder;
    font-size: 28px;
    text-transform: uppercase
}
 nav .contains p a
{
    color: white;
    text-decoration: none;
}
 nav .contains p a i
{
    margin-right: 10px;
	color: #303036
    
}
 nav .contains p a span
{
    color: #303036
}
 nav .contains ul
{
    list-style: none;
    display: flex
}
 nav .contains ul li
{
    padding: 23px 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    height: 30px;
}
 nav .contains ul li a
{
    text-decoration:none;
    color: white
}
 nav .contains ul li a:hover
{ 
    color: #303036;
    transition: .4s
}
.header
{
	
	
	color:#fff;
    min-height: 700px
	
}
.text
{
	position: relative;
	padding: 20px;
	text-align:center;
	color:#fff;
	top: 10px;
	bottom: 100px;
}
.text h1
{
	font-size: 60px;
	font-weight: 100;
	letter-spacing: 5px;
    margin-bottom: 30px;
	margin-top: 40px;
    display: none /*for jquery*/
}
.video-background
{
   left: 200px;
   bottom: 50;
   position: relative;
   width: 1000px;
   height: 650px;
    display: none /*for jquery*/
}
.info
{
	position: relative;
	font-size: 20px;
	left: 100px;
    padding: 30px 0;
     display: none /*for jquery*/

}
.info li
{
	font-size: 30px;
     
}
.scrollTop{
    background-color: #2f4f4f;
    height: 40px;
    width: 40px;;
    border-radius: 6px;
    color: white;
    font-size: 35px;
    text-align: center;
    line-height: 45px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: .5s
}
.scrollTop {
    cursor: pointer
}
.dark-mode {
  background-color: black;
  color: white;
}
.footer .span{color: #5b90c5; display: inline;}
.footer a{    color: #d3d3d3;}
.footer{
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;
	margin-top:50px;
}
.footer .footer-content{
    border: none;
    height: 350px;
    display: flex;
}
.footer-content h1, .footer-content h2{margin-bottom: 40px; color: white;}
        /*start about*/
.footer .about .comu .span1{
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
}
/*social*/
.footer .about .social{margin-top: 15px;}
.footer .about .social a{
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    padding-top: 3px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
}
.social a .facebook:hover{color:#4267B2;}
.social a .twitter:hover{color:#00acee;}
.social a .instagram:hover{color:#8a3ab9;}
.social a .youtube:hover{color:#c4302b;}
        /*end about*/

        /*start links*/
.footer .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size:18px;
    text-decoration: none;
    transition: all .3s;
}
.footer .links ul a:hover{
    color: #5b90c5;
    margin-left: 15px;
    transition: all .3s;
}
        /*end links*/

        /*start contact*/
/*contact us*/
.footer .text-input{
    display: block;
    width: 70%;
    height: 10px;
    background: #272727;
    color:#bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 15px 20px;
    border: none;
    font-size: 13px;
}
.footer .text-input:hover{background: #1a1a1a;}
/*send*/
.footer .btn{
    float:right;
    padding: 5px 20px;
    margin:10px 30px 0 0;
    text-align: center;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    background:#1DA1F2;
    transition: .3s;
}
.footer .btn:hover{
    transition: .3s;
    background:#167bb9 ;
}

        /*end contact*/
.footer .footer-content .footer-section{   /*to divide the form into several parts*/
    flex: 1;
    padding: 25px;
    border: 1px solid #1da0f231;
}
.footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
}

/*---------------------------end footer---------------------------*/


